{% extends request.layout %} {% block content %}
<style>
  button.page-link:disabled {
    cursor: not-allowed;
  }
</style>
<div class="col-xl-9">  
    <!-- Appointments List table START -->
    <div class="row">
      <div class="col-12">
        <div class="card border bg-transparent rounded-3">
          <!-- Card header START -->
          <div class="card-header bg-transparent border-bottom">
            <div class="d-sm-flex align-items-center"> <!-- justify-content-sm-between -->
              <h3 class="mb-2 mb-sm-0">Appointments</h3>&nbsp;
              <b>(Time in {% if request.user.time_zone_id %}{{request.user.time_zone.name}}{% else %}UTC{% endif %})</b>
              <!-- <a href="#" class="btn btn-sm btn-primary-soft mb-0">View all</a> -->
            </div>
          </div>
          <!-- Card header END -->
  
          <!-- Card body START -->
          <div class="card-body">
            <div class="table-responsive border-0 rounded-3">
              <!-- Table START -->
              <table class="table table-dark-gray align-middle p-4 mb-0">
                <!-- Table head -->
                <thead>
                  <tr>
                    <th scope="col" class="border-0 rounded-start">Sr. No</th>
                    <th scope="col" class="border-0">Instructor</th>
                    <th scope="col" class="border-0">Date</th>
                    <th scope="col" class="border-0">Time start</th>
                    <th scope="col" class="border-0">Time end</th>
                    <th scope="col" class="border-0">Meeting url</th>
                    <th scope="col" class="border-0 rounded-end">Action</th>
                  </tr>
                </thead>
                <!-- Table body START -->
                <tbody id="table-body">
                  <!-- Table item -->
                  <!-- <tr>
                    <td><b>Building Scalable APIs with GraphQL</b></td>
                    <td>34</td>
                    <td>$1,25,478</td>
                    <td>
                      <span class="badge bg-primary bg-opacity-10 text-primary"
                        >9 months</span
                      >
                    </td>
                    <td>
                      <a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0" ><i class="far fa-fw fa-edit"></i></a>
                      <button class="btn btn-sm btn-danger-soft btn-round mb-0">
                        <i class="fas fa-fw fa-times"></i>
                      </button>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
  
            <!-- Pagination START -->
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
              <!-- Content -->
              <p class="mb-0 text-center text-sm-start" id="entries_details"></p>
              <!-- Pagination -->
              <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                <ul
                  class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
                >
                  <li class="page-item mb-0">
                    <button class="page-link" id="back_btn" onclick="decreasePage()">
                      <i class="fas fa-angle-left"></i>
                    </button>
                  </li>
                  <li class="page-item mb-0 active">
                    <button class="page-link" id="page-no">1</button>
                  </li>
                  <li class="page-item mb-0">
                    <button class="page-link" id="next_page" onclick="increasePage()">
                      <i class="fas fa-angle-right"></i>
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- Pagination END -->
          </div>
          <!-- Card body START -->
        </div>
      </div>
    </div>
    <!-- Appointments List table END -->
</div>


<!-- Book appointment modal START -->
<div class="modal fade" id="ModifyAppointment" tabindex="-1" aria-labelledby="ModifyAppointmentLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form class="modal-content" id="book-appointment-form" onsubmit="event.preventDefault(); submitModifyAppointment();">
			{% csrf_token %}
			<input type="hidden" name="instructor_id" value="{{instructor.id}}">
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-white" id="ModifyAppointmentLabel">Modify Appointment</h5>
				<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>
			<div class="modal-body">
				<div class="row text-start g-3">

          <input type="hidden" id="appoint_id">

					<!-- Question -->
					<div class="col-12">
						<label class="form-label">Date</label>
						<p required id="appoint_date"></p>
					</div>
					<h6 class="mb-0">Time in {{request.user.time_zone.name}}</h6>

					<!-- START Time -->
					<div class="col-6">
						<label class="form-label">Start Time</label>
						<p id="appoint_start_time"></p>
					</div>

					<!-- END Time -->
					<div class="col-6">
						<label class="form-label">End Time</label>
						<p id="appoint_end_time"></p>
					</div>

          <!-- Modify Description -->
          <div class="col-12">
            <label class="form-label">Message</label>
            <p id="appoint_modify_text"></p>
          </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
				<button type="button" id="appoint_accept_btn" onclick="" class="btn btn-success my-0">Accept</button>
				<button type="button" id="appoint_decline_btn" onclick="" class="btn btn-danger my-0">Decline</button>
			</div>
		</form>
	</div>
</div>
<!-- Book appointment modal END -->

<!-- Appointment review modal START -->
<div class="modal fade" id="appointmentReviewModal" tabindex="-1" aria-labelledby="appointmentReviewModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-white" id="appointmentReviewModalLabel">Appointment Feedbacks</h5>
				<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>
			<div class="modal-body">
				<div class="row text-start g-3">
          <h5 class="mb-0">Rate instructor’s skills</h5>
          <form id="user-review" onsubmit="event.preventDefault(); submitUserReview();">
          </form>
          <h5 class="mb-0">Feedback on call</h5>
          <form id="appoint-review" onsubmit="event.preventDefault(); submitAppointReview();">
          </form>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Appointment review modal END -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="/static/js/requests.js"></script>
<script>
var pageIncBtn = document.getElementById("next_page");
var pageDecBtn = document.getElementById("back_btn");
var pageNo = 0;
var rowCount = 10;
var pageAvail = 0;
const loader = `
<div class="spinner-border m-auto my-5 d-block" id="loader">
  <span class="visually-hidden">Loading...</span>
</div>`;
const loadAppointments = async() => {
  document.getElementById("table-body").innerHTML = loader;
  let params = `?no_of_row=${rowCount}&offset=${rowCount * pageNo}`;
  const result = await getFromServer("{% url 'stu_appointment_list' %}" + params);
  if (result.status) {
    let dataHtml = '';
    const rowsAvail = result.data.rows.length;
    let no = 0;
    result.data.rows.forEach(row => {
      no++;
      // console.log(row);
      const dateArr = fromatToDateAndTime(`${row[1]}T${row[2]}`);
      let action = '';
      if (row[7] === 0 && row[8] === false) {
        action += `<p class="text-primary mb-0">Pending</p>`;
      } else {
        if (row[7] == 1) action += `<span class="text-success mb-0">Accepted</span>
        <button class="btn btn-sm btn-success-soft mb-0" title="Rate" onclick="rateAppointment(${row[0]}, this)">Give Rating</button>`;
        else if(row[7] == 2) action += `<p class="text-danger mb-0">Declined</p>`;
        else if(row[8]) action += `<button class="btn btn-sm btn-success-soft mb-0" title="See modify request" onclick="modifyAppointment(${row[0]}, this)">See request</button>`;
      }
      dataHtml += `<tr id="${row[0]}">
        <td>${no}</td>
        <td>${row[6]}</td><td class="date">${dateArr[0]}</td>
        <td class="start_time">${dateArr[1]}</td>
        <td class="end_time">${formatToTime(row[3])}</td><td>${row[4]}</td>
        <td>${action}</td>
      </tr>`;
    });
    document.getElementById('table-body').innerHTML = dataHtml;
    pageAvail = parseInt(result.data.count / rowCount);
    pageDecBtn.disabled = pageNo > 0 ? false : true;
    pageIncBtn.disabled = pageNo < pageAvail ? false : true;
    document.getElementById("page-no").innerHTML = pageNo + 1;
    document.getElementById("entries_details").innerHTML = `Showing ${
      rowCount * pageNo + 1
    } to ${rowCount * pageNo + rowsAvail} of ${result.data.count} entries`;
  } else {
    alertify.error(result.msg);
    document.getElementById("table-body").innerHTML = "";
  }
}
const decreasePage = () => {
  if (pageNo > 0) {
    pageNo--;
    loadAppointments();
  }
};
const increasePage = () => {
  if (pageNo < pageAvail) {
    pageNo++;
    loadAppointments();
  }
};
loadAppointments();
const modifyAppointment = async(id, btn) => {
  showBtnLoading(btn);
  const result = await getFromServer(`/meetings/get-appointment/${id}/modify-info`);
  hideBtnLoading(btn);
  if (result.status) {
    new bootstrap.Modal(document.getElementById('ModifyAppointment')).show();
    document.getElementById('appoint_accept_btn').setAttribute('onclick', `submitModifyAppointment(${result.data.id}, 'accept', this)`);
    document.getElementById('appoint_decline_btn').setAttribute('onclick', `submitModifyAppointment(${result.data.id}, 'decline', this)`);
    document.getElementById('appoint_date').innerHTML = result.data.date;
    document.getElementById('appoint_start_time').innerHTML = result.data.start_time;
    document.getElementById('appoint_end_time').innerHTML = result.data.end_time;
    document.getElementById('appoint_modify_text').innerHTML = result.data.modify_text;
  }
}
const submitModifyAppointment = (modify_id, type, btn) => {
  data = {modify_id: modify_id, type: type};
  updateAppointmentToServer(data, btn)
}
const updateAppointmentToServer = async(data, btn) => {
  showBtnLoading(btn);
  const result = await postToServer("{% url 'stu_update_appointment' %}", data);
  hideBtnLoading(btn);
  if (result.status) {
    const element = document.querySelector(`#table-body tr[id="${result.data.id}"] td:last-child`);
    if (result.data.status == 1) {
      element.innerHTML = `<span class="text-success mb-0">Accepted</span>
      <button class="btn btn-sm btn-success-soft mb-0" title="Rate" onclick="rateAppointment(${result.data.id}, this)">Give Rating</button>`;
      document.querySelector(`#table-body tr[id="${result.data.id}"] td.date`).innerHTML=result.data.date;
      document.querySelector(`#table-body tr[id="${result.data.id}"] td.start_time`).innerHTML=result.data.start_time;
      document.querySelector(`#table-body tr[id="${result.data.id}"] td.end_time`).innerHTML=result.data.end_time;
    }
    else if(result.data.status ==2) element.innerHTML = `<p class="text-danger mb-0">Declined</p>`;
    // else if(result.data.modify_req) element.innerHTML = `<p class="text-primary mb-0">See modify request</p>`;
    else element.innerHTML = ``;
    alertify.success(result.msg);
  } else {
    alertify.error(result.msg);
  }
}
</script>
<script src="/static/js/appoint-reviews.js"></script>
{% endblock content %}