{% extends 'layouts/home-layout.html' %}
{% block content %}
{% load common_tags %}
<!-- =======================
Page intro START -->
<section class="bg-light py-0 py-sm-5">
	<div class="container">
		<div class="row py-5">
			<div class="col-lg-8">
				<!-- Badge -->
				<h6 class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block">Digital Marketing</h6>
				<!-- Title -->
				<h1>{{course.title}}</h1>
				<p>{{course.about}}</p>
				<!-- Content -->
				<ul class="list-inline mb-0">
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i>4.5/5.0</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal text-success me-2"></i>{{level}}</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="bi bi-patch-exclamation-fill text-danger me-2"></i>Last updated 09/2021</li>
					<li class="list-inline-item h6 mb-0"><i class="fas fa-globe text-info me-2"></i>{{language}}</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page intro END -->

<!-- =======================
Page content START -->
<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="true">Overview</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="false">Curriculum</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">Instructor</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-4" data-bs-toggle="pill" data-bs-target="#course-pills-4" type="button" role="tab" aria-controls="course-pills-4" aria-selected="false">Reviews</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-5" data-bs-toggle="pill" data-bs-target="#course-pills-5" type="button" role="tab" aria-controls="course-pills-5" aria-selected="false">FAQs </button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-6" data-bs-toggle="pill" data-bs-target="#course-pills-6" type="button" role="tab" aria-controls="course-pills-6" aria-selected="false">Comment</button>
							</li>
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								{% autoescape off %}{{course.description}}{% endautoescape %}
								
								<!-- List content -->
								<h5 class="mt-4">What you’ll learn</h5>
								<ul class="list-group list-group-borderless mb-3">
									{% for lecture in lectures %}
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>{{lecture.name}}</li>
									{% endfor %}
								</ul>

								<p class="mb-0">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. </p>
								<!-- Course detail END -->

							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
								<!-- Course accordion START -->
								<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
									{% for lecture in lectures %}
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-{{forloop.counter}}">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
												{{lecture.name}}
												<span class="small ms-0 ms-sm-2">({{lecture.topics|length}} Lectures)</span> 
											</button>
										</h6>
										<div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading-{{forloop.counter}}" data-bs-parent="#accordionExample2">
											<div class="accordion-body mt-3">
												{% for topic in lecture.topics %}
												{% if forloop.counter != 1 %}<hr> <!-- Divider -->{% endif %}
												<!-- Course lecture -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														<a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
															<i class="fas fa-play me-0"></i>
														</a>
														<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">{{topic.name}}</span>
													</div>
													<!--<p class="mb-0">2m 10s</p>-->
													<p class="mb-0">{{topic.duration2}}</p>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<!-- Course accordion END -->
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<!-- Card START -->
								<div class="card mb-0 mb-md-4">
									<div class="row g-0 align-items-center">
										<div class="col-md-5">
											<!-- Image -->
											<img src="{% if course.user.profile_pic %}{{course.user.profile_pic.url}}{% else %}/static/images/user.png{% endif %}" class="img-fluid rounded-3" alt="instructor-image">
										</div>
										<div class="col-md-7">
											<!-- Card body -->
											<div class="card-body">
												<!-- Title -->
												<h3 class="card-title mb-0">{{course.user.first_name}} {{course.user.last_name}}</h3>
												<h6 class="mb-2">@{{course.user.username}}</h6>
												{% comment %} <p class="mb-2">Instructor of Marketing</p> {% endcomment %}
												<!-- Social button -->
												<ul class="list-inline mb-3">
													<li class="list-inline-item me-3">
														<a {% if profile.twitter %} href="{{profile.twitter}}" target="_blank" {% else %} href="javascript:void(0);" {% endif %} class="fs-5 text-twitter"><i class="fab fa-twitter-square"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a {% if profile.instagram %} href="{{profile.instagram}}" target="_blank" {% else %} href="javascript:void(0);" {% endif %} class="fs-5 text-instagram"><i class="fab fa-instagram-square"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a {% if profile.facebook %} href="{{profile.facebook}}" target="_blank" {% else %} href="javascript:void(0);" {% endif %} class="fs-5 text-facebook"><i class="fab fa-facebook-square"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a {% if profile.linkedin %} href="{{profile.linkedin}}" target="_blank" {% else %} href="javascript:void(0);" {% endif %} class="fs-5 text-linkedin"><i class="fab fa-linkedin"></i></a>
													</li>
													<li class="list-inline-item">
														<a {% if profile.youtube %} href="{{profile.youtube}}" target="_blank" {% else %} href="javascript:void(0);" {% endif %} class="fs-5 text-youtube"><i class="fab fa-youtube-square"></i></a>
													</li>
												</ul>

												<!-- Info -->
												<ul class="list-inline">
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></span>
															<span class="h6 fw-light mb-0 ms-2">9.1k</span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></span>
															<span class="h6 fw-light mb-0 ms-2">4.5</span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-danger bg-opacity-10 text-danger rounded-circle"><i class="fas fa-play"></i></span>
															<span class="h6 fw-light mb-0 ms-2">29 Courses</span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-info bg-opacity-10 text-info rounded-circle"><i class="fas fa-comment-dots"></i></span>
															<span class="h6 fw-light mb-0 ms-2">205</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Card END -->
								
								<!-- Instructor info -->
								<h5 class="mb-3">About Instructor</h5>
								{% autoescape off %}{{profile.about}}{% endautoescape %}
								<!-- Email address -->
								<div class="col-12">
									<ul class="list-group list-group-borderless mb-0">
										<li class="list-group-item pb-0">Mail ID:<a href="mailto:{{course.user.email}}" class="ms-2">{{course.user.email}}</a></li>
										<li class="list-group-item pb-0">Web:<a href="{{instructor_url}}" target="_blank" class="ms-2">{{instructor_url}}</a></li>
									</ul>
								</div>
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-4" role="tabpanel" aria-labelledby="course-pills-tab-4">
								<!-- Review START -->
								<div class="row mb-4">
									<h5 class="mb-4">Our Student Reviews</h5>

									<!-- Rating info -->
									<div class="col-md-4 mb-3 mb-md-0">
										<div class="text-center">
											<!-- Info -->
											<h2 class="mb-0">{{total_stars}}</h2>
											<!-- Star -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star-half-alt text-warning"></i></li>
											</ul>
											<p class="mb-0">(Based on course review)</p>
										</div>
									</div>

									<!-- Progress-bar and star -->
									<div class="col-md-8">
										<div class="row align-items-center">
											<!-- Progress bar and Rating -->
											<div class="col-6 col-sm-8">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>

											<div class="col-6 col-sm-4">
												<!-- Star item -->
												<ul class="list-inline mb-0">
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												</ul>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-6 col-sm-8">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>

											<div class="col-6 col-sm-4">
												<!-- Star item -->
												<ul class="list-inline mb-0">
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												</ul>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-6 col-sm-8">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>

											<div class="col-6 col-sm-4">
												<!-- Star item -->
												<ul class="list-inline mb-0">
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												</ul>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-6 col-sm-8">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>

											<div class="col-6 col-sm-4">
												<!-- Star item -->
												<ul class="list-inline mb-0">
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												</ul>
											</div>

											<!-- Progress bar and Rating -->
											<div class="col-6 col-sm-8">
												<!-- Progress item -->
												<div class="progress progress-sm bg-warning bg-opacity-15">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>

											<div class="col-6 col-sm-4">
												<!-- Star item -->
												<ul class="list-inline mb-0">
													<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Review END -->

								<!-- Student review START -->
								<div class="row">
									{% for review in reviews %}
									<!-- Review item START -->
									<div class="d-md-flex my-4">
										<!-- Avatar -->
										<div class="avatar avatar-xl me-4 flex-shrink-0">
											<img class="avatar-img rounded-circle" src="{% if review.2 %}/media/{{review.2}}{% else %}/static/images/user.png{% endif %}" alt="avatar">
										</div>
										<!-- Text -->
										<div>
											<div class="d-sm-flex mt-1 mt-md-0 align-items-center">
												<h5 class="me-3 mb-0">{{review.1}}</h5>
												<!-- Review star -->
												<ul class="list-inline mb-0">
													{% autoescape off %}
													{{'<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>'|multiply_str:review.4}}
													{{'<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>'|multiply_str:review.5}}
													{% endautoescape %}
												</ul>
											</div>
											<!-- Info -->
											<p class="small mb-2">{% comment %} 2 days ago {% endcomment %}</p>
											<p class="mb-2">{{review.3}}</p>
										</div>
									</div>
									<!-- Divider -->
									<hr>
									<!-- Review item END -->
									{% endfor %}
								</div>
								<!-- Student review END -->
								{% if curr_user_review == None %}
								<!-- Leave Review START -->
								<div class="mt-2">
									<h5 class="mb-4">Leave a Review</h5>
									<form class="row g-3" onsubmit="event.preventDefault(); postReview();">
										<!-- Rating -->
										<div class="col-12 bg-light-input">
											<select id="review-stars" class="form-select js-choice" required>
												<option value="">Choose stars</option>
												<option value="5">★★★★★ (5/5)</option>
												<option value="4">★★★★☆ (4/5)</option>
												<option value="3">★★★☆☆ (3/5)</option>
												<option value="2">★★☆☆☆ (2/5)</option>
												<option value="1">★☆☆☆☆ (1/5)</option>
											</select>
										</div>
										<!-- Message -->
										<div class="col-12 bg-light-input">
											<textarea class="form-control" id="review-text" placeholder="Your review" rows="3" required></textarea>
										</div>
										<!-- Button -->
										<div class="col-12">
											<button type="submit" class="btn btn-primary mb-0" id="post-review-btn">Post Review</button>
										</div>
									</form>
								</div>
								<!-- Leave Review END -->
								{% endif %}
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-5" role="tabpanel" aria-labelledby="course-pills-tab-5">
								<!-- Title -->
								<h5 class="mb-3">Frequently Asked Questions</h5>
								<!-- Accordion START -->
								<div class="accordion accordion-flush" id="accordionExample">
									{% for faq in faqs %}
									<!-- Item -->
									<div class="accordion-item">
										<h2 class="accordion-header" id="heading-faq-{{forloop.counter}}">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-faq-{{forloop.counter}}">
												<span class="text-secondary fw-bold me-3">{{ forloop.counter|stringformat:"02d" }}</span>  
												<span class="h6 mb-0">{{faq.ques}}</span> 
											</button>
										</h2>
										<div id="collapse-faq-{{forloop.counter}}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading-faq-{{forloop.counter}}" data-bs-parent="#accordionExample">
											<div class="accordion-body pt-0">{{faq.ans}}</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<!-- Accordion END -->
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-6" role="tabpanel" aria-labelledby="course-pills-tab-6">
								<!-- Review START -->
								<div class="row">
									<div class="col-12">
										<h5 class="mb-4">Ask Your Question</h5>

										<!-- Comment box -->
										<div class="d-flex mb-4">
											<!-- Avatar -->
											<div class="avatar avatar-sm flex-shrink-0 me-2">
												<a href="#"> <img class="avatar-img rounded-circle" src="/static/images/avatar/09.jpg" alt=""> </a>
											</div>

											<form class="w-100 d-flex">
												<textarea class="one form-control pe-4 bg-light" id="autoheighttextarea" rows="1" placeholder="Add a comment..."></textarea>
												<button class="btn btn-primary ms-2 mb-0" type="button">Post</button>
											</form>
										</div>

										<!-- Comment item START -->
										<div class="border p-2 p-sm-4 rounded-3 mb-4">
											<ul class="list-unstyled mb-0">
												<li class="comment-item">
													<div class="d-flex mb-3">
														<!-- Avatar -->
														<div class="avatar avatar-sm flex-shrink-0">
															<a href="#"><img class="avatar-img rounded-circle" src="/static/images/avatar/05.jpg" alt=""></a>
														</div>
														<div class="ms-2">
															<!-- Comment by -->
															<div class="bg-light p-3 rounded">
																<div class="d-flex justify-content-center">
																	<div class="me-2">
																		<h6 class="mb-1 lead fw-bold"> <a href="#!"> Frances Guerrero </a></h6>
																		<p class="h6 mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection?</p>
																	</div>
																	<small>5hr</small>
																</div>
															</div>
															<!-- Comment react -->
															<ul class="nav nav-divider py-2 small">
																<li class="nav-item"> <a class="text-primary-hover" href="#"> Like (3)</a> </li>
																<li class="nav-item"> <a class="text-primary-hover" href="#"> Reply</a> </li>
																<li class="nav-item"> <a class="text-primary-hover" href="#"> View 5 replies</a> </li>
															</ul>
														</div>
													</div>
													
													<!-- Comment item nested START -->
													<ul class="list-unstyled ms-4">
														<!-- Comment item START -->
														<li class="comment-item">
															<div class="d-flex">
																<!-- Avatar -->
																<div class="avatar avatar-xs flex-shrink-0">
																	<a href="#"><img class="avatar-img rounded-circle" src="/static/images/avatar/06.jpg" alt=""></a>
																</div>
																<!-- Comment by -->
																<div class="ms-2">
																	<div class="bg-light p-3 rounded">
																		<div class="d-flex justify-content-center">
																			<div class="me-2">
																				<h6 class="mb-1  lead fw-bold"> <a href="#"> Lori Stevens </a> </h6>
																				<p class=" mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive. Domestic had but Drawings offended yet answered Jennings perceive.</p>
																			</div>
																			<small>2hr</small>
																		</div>
																	</div>
																	<!-- Comment react -->
																	<ul class="nav nav-divider py-2 small">
																		<li class="nav-item"><a class="text-primary-hover" href="#!"> Like (5)</a></li>
																		<li class="nav-item"><a class="text-primary-hover" href="#!"> Reply</a>	</li>
																	</ul>
																</div>
															</div>
														</li>
														<!-- Comment item END -->
													</ul>
													<!-- Comment item nested END -->
												</li>
											</ul>
										</div>
										<!-- Comment item END -->

										<!-- Comment item START -->
										<div class="border p-2 p-sm-4 rounded-3">
											<ul class="list-unstyled mb-0">
												<li class="comment-item">
													<div class="d-flex">
														<!-- Avatar -->
														<div class="avatar avatar-sm flex-shrink-0">
															<a href="#"><img class="avatar-img rounded-circle" src="/static/images/avatar/02.jpg" alt=""></a>
														</div>
														<div class="ms-2">
															<!-- Comment by -->
															<div class="bg-light p-3 rounded">
																<div class="d-flex justify-content-center">
																	<div class="me-2">
																		<h6 class="mb-1 lead fw-bold"> <a href="#!"> Louis Ferguson </a></h6>
																		<p class="h6 mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection?</p>
																	</div>
																	<small>5hr</small>
																</div>
															</div>
															<!-- Comment react -->
															<ul class="nav nav-divider py-2 small">
																<li class="nav-item"> <a class="text-primary-hover" href="#"> Like</a> </li>
																<li class="nav-item"> <a class="text-primary-hover" href="#"> Reply</a> </li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- Comment item END -->

									</div>

								</div>
							</div>
							<!-- Content END -->

						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 z-index-9">
							<div class="overflow-hidden rounded-3">
								<img src="/static/images/courses/4by3/01.jpg" class="card-img" alt="course image">
								<!-- Overlay -->
								<div class="bg-overlay bg-dark opacity-6"></div>
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Video button and link -->
									<div class="m-auto">
										<a href="https://www.youtube.com/embed/tXHviS-4ygo" class="btn btn-lg text-danger btn-round btn-white-shadow mb-0" data-glightbox="" data-gallery="course-video">
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
		
							<!-- Card body -->
							<div class="card-body px-3">
								<!-- Info -->
								<div class="d-flex justify-content-between align-items-center">
									<!-- Price and time -->
									<div>
										<div class="d-flex align-items-center">
											{% if course.discount_price %}
											<h3 class="fw-bold mb-0 me-2">${{course.discount_price}}</h3>
											<span class="text-decoration-line-through mb-0 me-2">${{course.price}}</span>
											<span class="badge text-bg-orange mb-0">{{course.discount_percent|floatformat:3}}% off</span>
											{% else %}
											<h3 class="fw-bold mb-0 me-2">${{course.price}}</h3>
											{% endif %}
										</div>
										<p class="mb-0 text-danger"><i class="fas fa-stopwatch me-2"></i>5 days left at this price</p>
									</div>

									<!-- Share button with dropdown -->
									<div class="dropdown">
										<!-- Share button -->
										<a href="#" class="btn btn-sm btn-light rounded small" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fas fa-fw fa-share-alt"></i>
										</a>
										<!-- dropdown button -->
										<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
											<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
											<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
											<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
											<li><a class="dropdown-item" href="#"><i class="fas fa-copy me-2"></i>Copy link</a></li>
										</ul>
									</div>
								</div>

								<!-- Buttons -->
								<div class="mt-3 d-sm-flex justify-content-sm-between">
									<a href="#" class="btn btn-outline-primary mb-0">Free trial</a>
									<a href="{% url 'course_checkout' course.id %}" class="btn btn-success mb-0">Buy course</a>
								</div>
							</div>
						</div>
						<!-- Video END -->

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3">This course includes</h4>
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Lectures</span>
									<span>{{course.no_of_lecture}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Duration</span>
									<span>{{course.duration}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Skills</span>
									<span>{{course.show_level}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Language</span>
									<span>English</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Deadline</span>
									<span>Nov 30 2021</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Certificate</span>
									<span>Yes</span>
								</li>
							</ul>
						</div>
						<!-- Course info END -->
					</div>

					<div class="col-md-6 col-lg-12">
						<!-- Recently Viewed START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3">Recently Viewed</h4>
							<!-- Course item START -->
							<div class="row gx-3 mb-3">
								<!-- Image -->
								<div class="col-4">
									<img class="rounded" src="/static/images/courses/4by3/21.jpg" alt="">
								</div>
								<!-- Info -->
								<div class="col-8">
									<h6 class="mb-0"><a href="#">Fundamentals of Business Analysis</a></h6>
									<ul class="list-group list-group-borderless mt-1 d-flex justify-content-between">
										<li class="list-group-item px-0 d-flex justify-content-between">
											<span class="text-success">$130</span>
											<span class="h6 fw-light">4.5<i class="fas fa-star text-warning ms-1"></i></span>
										</li>
									</ul>
								</div>
							</div>
							<!-- Course item END -->

							<!-- Course item START -->
							<div class="row gx-3">
								<!-- Image -->
								<div class="col-4">
									<img class="rounded" src="/static/images/courses/4by3/18.jpg" alt="">
								</div>
								<!-- Info -->
								<div class="col-8">
									<h6 class="mb-0"><a href="#">The Complete Video Production Bootcamp</a></h6>
									<ul class="list-group list-group-borderless mt-1 d-flex justify-content-between">
										<li class="list-group-item px-0 d-flex justify-content-between">
											<span class="text-success">$150</span>
											<span class="h6 fw-light">4.0<i class="fas fa-star text-warning ms-1"></i></span>
										</li>
									</ul>
								</div>
							</div>
							<!-- Course item END -->
						</div>
						<!-- Recently Viewed END -->

						<!-- Tags START -->
						<div class="card card-body shadow p-4">
							<h4 class="mb-3">Popular Tags</h4>
							<ul class="list-inline mb-0">
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">blog</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">business</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">theme</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">bootstrap</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">data science</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">web development</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">tips</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">machine learning</a> </li>
							</ul>
						</div>	
						<!-- Tags END -->
					</div>
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

<!-- =======================
Listed courses START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<h2 class="mb-0">Top Listed Courses</h2>
		</div>

		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-blur arrow-hover">
				<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
				
					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="/static/images/courses/4by3/17.jpg" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">9.1k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.5</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="/static/images/avatar/09.jpg" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">The Complete Digital Marketing Course - 12 Courses in 1</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Personal Development</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$140</h3>
								</div>
							</div>
						</div>
					</div>	
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="/static/images/courses/4by3/18.jpg" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">2.5k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">3.6</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="/static/images/avatar/07.jpg" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Fundamentals of Business Analysis</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Business Development</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$160</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="/static/images/courses/4by3/21.jpg" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">6k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">3.8</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="/static/images/avatar/05.jpg" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Google Ads Training: Become a PPC Expert</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i> SEO</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$226</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="/static/images/courses/4by3/20.jpg" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">15k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.8</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="/static/images/avatar/02.jpg" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Behavior, Psychology and Care Training</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Lifestyle</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$342</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Card Item END -->
				</div>
			</div>
			<!-- Slider END -->		
		</div>
	</div>
</section>
<!-- =======================
Listed courses END -->
<script src="/static/js/requests.js"></script>
<script>
	const postReview = async() => {
		const btn = document.getElementById('post-review-btn');
		const stars= document.getElementById('review-stars');
		const review= document.getElementById('review-text');
		const data = {stars: stars.value,review: review.value};
		showBtnLoading(btn);
		const res = await postToServer("{% url 'create_review' course.id %}", data);
		hideBtnLoading(btn);
		if (res.status) {
			window.location.reload();
			// stars.value = review.value = "";
			// alertify.success(res.msg);
		} else alertify.error(res.msg);
	}
</script>
{% endblock content %}