<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment</title>
    <style>
        video {
            border: 1px solid red;
        }
    </style>
  </head>
  <body>
    <h1>Appointment</h1>
    <div class="video-box" id="video-box">
      <video id="local-video" autoplay></video>
      <video id="remote-video" autoplay></video>
    </div>
    <button onclick="startCall()">Start call</button>
    <script src="/static/js/video-call.js"></script>
    <script src="/static/js/ws.js?v=0.01"></script>
    <script>
      const toUser = {{to_user}};
    </script>
  </body>
</html>
