{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mojomentors</title>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Webestica.com" />
    <meta name="description" content="Mojomentors" />
    <meta name="csrf-token" content="{{ csrf_token }}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- libraries -->
    <link rel="stylesheet" href="{% static 'libraries/alertify.min.css' %}" />
    <link rel="stylesheet" href="{% static 'over-ride-libs/style.css' %}" />
    <!-- custom css -->
    {% block styles %}{% endblock styles %}
  </head>

  <body>
    <div id="messages" style="display: none">
      {% for message in messages %}
      <span>{{ message.tags }}||||{{ message }}</span>
      {% endfor %}
    </div>
    <!-- **************** MAIN CONTENT START **************** -->
    {% block content %}{% endblock content %}
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- Back to top -->
    <div class="back-top">
      <i
        class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"
      ></i>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Template Functions -->
    <script src="{% static 'js/functions.js' %}"></script>

    <!-- libraries -->
    <script src="{% static 'libraries/alertify.min.js' %}"></script>
    <!-- custom -->
    <script src="{% static 'js/common.js' %}?v=0.02"></script>
    <!-- custom js -->
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
