{% extends 'layouts/admin-layout.html' %} {% block content %}
<div class="page-content-wrapper border">

    <!-- Title -->
    <div class="row mb-3">
        <div class="col-12 d-sm-flex justify-content-between align-items-center">
            <h1 class="h3 mb-2 mb-sm-0">Category</h1>
            <a href="{% url 'ad_categories' %}" class="btn btn-sm btn-primary mb-0">Back to category list</a>
        </div>
    </div>

    <!-- Card START -->
    <div class="card bg-transparent border">
        <!-- Card body START -->
        <div class="card-body">
            <!-- Course table START -->
            <form class="row g-4 align-items-center" method="POST">
                {% csrf_token %}
                <div class="col-lg-6">
                    <label class="form-label" for="title">Title</label>
                    {% if category %}
                    <input type="text" required disabled value="{{category.title}}" class="form-control" placeholder="Title">
                    {% else %}
                    <input type="text" required id="title" name="title" class="form-control" placeholder="Title">
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <label class="form-label" for="status">Status</label>
                    <select name="status" id="status" class="form-control" required>
                        <option value="1" {% if category.status == True %}selected{% endif %}>Active</option>
                        <option value="0" {% if category.status == False %}selected{% endif %}>InActive</option>
                    </select>
                </div>
                <div class="d-sm-flex justify-content-end">
                    <button type="button" onclick="history.back()" class="btn btn-danger mb-0">Cancel</button>
                    &nbsp;&nbsp;
                    {% if category %}
                    <button type="submit" class="btn btn-primary mb-0">Update</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary mb-0">Save</button>
                    {% endif %}
                </div>
            </form>
            <!-- Course table END -->
        </div>
        <!-- Card body END -->
    </div>
    <!-- Card END -->
</div>
{% endblock content %}