{% extends request.layout %} {% block content %}
<div class="col-xl-9">
  
  <!-- Course List table START -->
  <div class="row">
    <div class="col-12">
      <div class="card border bg-transparent rounded-3">
        <!-- Card header START -->
        <div class="card-header bg-transparent border-bottom">
          <div class="d-sm-flex justify-content-sm-between align-items-center">
            <h3 class="mb-2 mb-sm-0">My Courses</h3>
            <a href="{% url 'create_course' %}" class="btn btn-sm btn-primary-soft mb-0">Create a course</a>
          </div>
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">
          <div class="table-responsive border-0 rounded-3">
            <!-- Table START -->
            <table class="table table-dark-gray align-middle p-4 mb-0">
              <!-- Table head -->
              <thead>
                <tr>
                  <th scope="col" class="border-0 rounded-start">Course Name</th>
                  <th scope="col" class="border-0">Price</th>
                  <th scope="col" class="border-0">Lectures</th>
                  <th scope="col" class="border-0">Duration</th>
                  <th scope="col" class="border-0 rounded-end">Action</th>
                </tr>
              </thead>
              <!-- Table body START -->
              <tbody>
                {% for course in courses %}
                <!-- Table item -->
                <tr>
                  <!-- Course item -->
                  <td>
                    <div class="d-flex align-items-center">
                      <!-- Image -->
                      <div class="w-60px">
                        <img src="{% if course.image %}{{course.image.url}}{% endif %}"class="rounded" alt="" />
                      </div>
                      <!-- Title -->
                      <h6 class="mb-0 ms-2 table-responsive-title">{{course.title}}</h6>
                    </div>
                  </td>
                  <!-- Amount item -->
                  <td>${{course.price}}</td>
                  <!-- Amount item -->
                  <td>{{course.no_of_lecture}}</td>
                  <!-- Period item -->
                  <td>{{course.duration}}</td>
                  <!-- Action item -->
                  <td>
                    <a href="{% url 'edit_course' course.id %}" class="btn btn-sm btn-success-soft btn-round me-1 mb-0" >
                      <i class="far fa-fw fa-edit"></i>
                    </a>
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0">
                      <i class="fas fa-fw fa-times"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <!-- Table body END -->
            </table>
            <!-- Table END -->
          </div>

          <!-- Pagination -->
          <div
            class="d-sm-flex justify-content-sm-between align-items-sm-center mt-3"
          >
            <!-- Content -->
            {% comment %} <p class="mb-0 text-center text-sm-start">
              Showing 1 to 8 of 20 entries
            </p> {% endcomment %}
            <p class="mb-0 text-center text-sm-start">{{courses|length}} courses</p>
            <!-- Pagination -->
            {% comment %} <nav class="d-flex justify-content-center mb-0" aria-label="navigation" >
              <ul
                class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
              >
                <li class="page-item mb-0">
                  <a class="page-link" href="#" tabindex="-1"
                    ><i class="fas fa-angle-left"></i
                  ></a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item mb-0 active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#"
                    ><i class="fas fa-angle-right"></i
                  ></a>
                </li>
              </ul>
            </nav> {% endcomment %}
          </div>
        </div>
        <!-- Card body START -->
      </div>
    </div>
  </div>
  <!-- Course List table END -->
</div>
{% endblock content %}
