{% extends 'layouts/no-sidebar-layout.html' %} {% block content %}
<!-- =======================
Page Banner START -->
<section
  class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0"
  style="
    background: url(/static/images/pattern/04.png) no-repeat center center;
    background-size: cover;
  "
>
  <!-- Main banner background image -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Title -->
        <h1 class="text-white">Submit a new Course</h1>
        <p class="text-white mb-0">
          Read our
          <a href="#" class="text-white"><u>"Before you create a course"</u></a>
          article before submitting!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Steps START -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <!-- Content -->
        <p class="text-center">
          Use this interface to add a new Course to the portal. Once you are
          done adding the item it will be reviewed for quality. If approved,
          your course will appear for sale and you will be informed by email
          that your course has been accepted.
        </p>
      </div>
    </div>

    <div class="card bg-transparent border rounded-3 mb-5">
      <div id="stepper" class="bs-stepper stepper-outline">
        <!-- Card header -->
        <div class="card-header bg-light border-bottom px-lg-5">
          <!-- Step Buttons START -->
          <div class="bs-stepper-header" role="tablist">
            <!-- Step 1 -->
            <div class="step" data-target="#step-1">
              <div class="d-grid text-center align-items-center">
                <button
                  type="button"
                  class="btn btn-link step-trigger mb-0"
                  role="tab"
                  id="steppertrigger1"
                  aria-controls="step-1"
                >
                  <span class="bs-stepper-circle">1</span>
                </button>
                <h6 class="bs-stepper-label d-none d-md-block">
                  Course details
                </h6>
              </div>
            </div>
            <div class="line"></div>

            <!-- Step 2 -->
            <div class="step" data-target="#step-2">
              <div class="d-grid text-center align-items-center">
                <button
                  type="button"
                  class="btn btn-link step-trigger mb-0"
                  role="tab"
                  id="steppertrigger2"
                  aria-controls="step-2"
                  {% if not course %}disabled{% endif %}
                >
                  <span class="bs-stepper-circle">2</span>
                </button>
                <h6 class="bs-stepper-label d-none d-md-block">Course media</h6>
              </div>
            </div>
            <div class="line"></div>

            <!-- Step 3 -->
            <div class="step" data-target="#step-3">
              <div class="d-grid text-center align-items-center">
                <button
                  type="button"
                  class="btn btn-link step-trigger mb-0"
                  role="tab"
                  id="steppertrigger3"
                  aria-controls="step-3"
                  {% if not course %}disabled{% endif %}
                >
                  <span class="bs-stepper-circle">3</span>
                </button>
                <h6 class="bs-stepper-label d-none d-md-block">Curriculum</h6>
              </div>
            </div>
            <div class="line"></div>

            <!-- Step 4 -->
            <div class="step" data-target="#step-4">
              <div class="d-grid text-center align-items-center">
                <button
                  type="button"
                  class="btn btn-link step-trigger mb-0"
                  role="tab"
                  id="steppertrigger4"
                  aria-controls="step-4"
                  {% if not course %}disabled{% endif %}
                >
                  <span class="bs-stepper-circle">4</span>
                </button>
                <h6 class="bs-stepper-label d-none d-md-block">
                  Additional information
                </h6>
              </div>
            </div>
          </div>
          <!-- Step Buttons END -->
        </div>

        <!-- Card body START -->
        <div class="card-body">
          <!-- Step content START -->
          <div class="bs-stepper-content">
              <!-- Step 1 content START -->
              <div
                id="step-1"
                role="tabpanel"
                class="content fade"
                aria-labelledby="steppertrigger1"
              >
                <!-- Title -->
                <h4>Course details</h4>

                <hr />
                <!-- Divider -->

                <!-- Basic information START -->
                <form class="row g-4" id="form1" method="POST" onsubmit="event.preventDefault(); submitForm(1);">
                  {% csrf_token %}
                  <input type="hidden" name="info_type" value="basic_type" />
                  <!-- Course title -->
                  <div class="col-12">
                    <label class="form-label">Course title</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Enter course title"
                      name="title"
                      required
                      value="{{course.title}}"
                    />
                  </div>

                  <!-- Short description -->
                  <div class="col-12">
                    <label class="form-label">Short description</label>
                    <textarea
                      class="form-control"
                      rows="2"
                      placeholder="Short Description"
                      name="about"
                      maxlength="255"
                      required
                    >{{course.about}}</textarea>
                  </div>

                  <!-- Course category -->
                  <div class="col-md-6">
                    <label class="form-label">Course category</label>
                    <select
                      class="form-select js-choice border-0 z-index-9 bg-transparent"
                      aria-label=".form-select-sm"
                      data-search-enabled="true"
                      name="category"
                      required
                    >
                      <option value="">Select category</option>
                      {% for category in categories %}
                      <option value="{{category.id}}" {% if category.id == course.category_id %}selected{% endif %}>{{category.title}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <!-- Course level -->
                  <div class="col-md-6">
                    <label class="form-label">Course level</label>
                    <select
                      class="form-select js-choice border-0 z-index-9 bg-transparent"
                      aria-label=".form-select-sm"
                      data-search-enabled="false"
                      data-remove-item-button="true"
                      name="level"
                    >
                      <option value="">Select course level</option>
                      {% for level in levels %}
                      <option value="{{level.0}}" {% if level.0 == course.level %}selected{% endif %}>{{level.1}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <!-- Language -->
                  <div class="col-md-6">
                    <label class="form-label">Language</label>
                    <!-- multiple="multiple" -->
                    <select
                      class="form-select js-choice border-0 z-index-9 bg-transparent"
                      aria-label=".form-select-sm"
                      data-max-item-count="3"
                      data-remove-item-button="true"
                      name="language"
                    >
                      <option value="">Select language</option>
                      {% for language in languages %}
                      <option value="{{language.0}}" {% if language.0 == course.language %}selected{% endif %}>{{language.1}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <!-- Switch -->
                  <div
                    class="col-md-6 d-flex align-items-center justify-content-start mt-5"
                  >
                    <div class="form-check form-switch form-check-md">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="checkPrivacy1"
                        name="featured"
                        {% if course.featured %}checked{% endif %}
                      />
                      <label class="form-check-label" for="checkPrivacy1">
                        Check this for featured course
                      </label>
                    </div>
                  </div>

                  <!-- Course time -->
                  <div class="col-md-6">
                    <label class="form-label">Course time</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Enter course time"
                      name="time"
                      required
                      value="{{course.time}}"
                    />
                  </div>

                  <!-- Total lecture -->
                  <div class="col-md-6">
                    <label class="form-label">Total lecture</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Enter total lecture"
                      name="total_lecture"
                      required
                      type="number"
                      value="{{course.total_lecture}}"
                    />
                  </div>

                  <!-- Course price -->
                  <div class="col-md-6">
                    <label class="form-label">Course price</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter course price"
                      name="price"
                      type="number"
                      required
                      value="{{course.price}}"
                    />
                  </div>

                  <!-- Course discount -->
                  <div class="col-md-6">
                    <label class="form-label">Discount price</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Enter discount"
                      name="discount_price"
                      type="number"
                      value="{{course.discount_price}}"
                    />
                    <div class="col-12 mt-1 mb-0">
                      <div class="form-check small mb-0">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="checkBox1"
                        />
                        <label class="form-check-label" for="checkBox1">
                          Enable this Discount
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- Course description -->
                  <input type="hidden" id="description" name="description">
                  <div class="col-12">
                    <label class="form-label">Add description</label>
                    <!-- Editor toolbar -->
                    <div
                      class="bg-light border border-bottom-0 rounded-top py-3"
                      id="quilltoolbar"
                    >
                      <span class="ql-formats">
                        <select class="ql-size"></select>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                      </span>
                      <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-code-block"></button>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-link"></button>
                        <button class="ql-image"></button>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-clean"></button>
                      </span>
                    </div>

                    <!-- Main toolbar -->
                    <div
                      class="bg-body border rounded-bottom h-400px overflow-hidden"
                      id="quilleditor"
                    >
                    {% autoescape off %}{{course.description}}{% endautoescape %}
                    </div>
                  </div>

                  <!-- Step 1 button -->
                  <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-primary mb-0" type="submit">Next</button>
                  </div>
                </form>
                <!-- Basic information START -->
              </div>
              <!-- Step 1 content END -->

              <!-- Step 2 content START -->
              <div
                id="step-2"
                role="tabpanel"
                class="content fade"
                aria-labelledby="steppertrigger2"
              >
                <!-- Title -->
                <h4>Course media</h4>

                <hr />
                <!-- Divider -->

                <div class="row">
                  <!-- Upload image START -->
                  <div class="col-12">
                    <div
                      class="text-center justify-content-center align-items-center p-4 p-sm-5 border border-2 border-dashed position-relative rounded-3"
                    >
                      <!-- Image -->
                      <img
                        src="/static/images/element/gallery.svg"
                        class="h-50px"
                        alt=""
                      />
                      <div>
                        <h6 class="my-2">
                          Upload course image here, or<a
                            href="#!"
                            class="text-primary"
                          >
                            Browse</a
                          >
                        </h6>
                        <label style="cursor: pointer">
                          <span>
                            <input
                              class="form-control stretched-link"
                              type="file"
                              id="course_image"
                              accept="image/*"
                            />
                          </span>
                        </label>
                        <p class="small mb-0 mt-2">
                          <b>Note:</b> Only JPG, JPEG and PNG. Our suggested
                          dimensions are 600px * 450px. Larger image will be
                          cropped to 4:3 to fit our thumbnails/previews.
                        </p>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="d-sm-flex justify-content-end mt-2">
                      <button
                        type="button"
                        class="btn btn-sm btn-danger-soft mb-3"
                      >
                        Remove image
                      </button>
                    </div>
                  </div>
                  <!-- Upload image END -->

                  <!-- Upload video START -->
                  <div class="col-12">
                    <h5>Upload video</h5>
                    <!-- Input -->
                    <div class="col-12">
                      <label class="form-label">Upload video</label>
                      <div class="input-group mb-3">
                        <input
                          type="file"
                          class="form-control"
                          id="course_video"
                          accept="video/*"
                        />
                        <label class="input-group-text" for="course_video">Video</label>
                      </div>
                    </div>

                    <!-- Preview -->
                    <h5 class="mt-4">Video preview</h5>
                    <div class="position-relative">
                      <!-- Image -->
                      <img
                        src="/static/images/about/04.jpg"
                        class="rounded-4"
                        alt=""
                      />
                      <div
                        class="position-absolute top-50 start-50 translate-middle"
                      >
                        <!-- Video link -->
                        <a
                          href="https://www.youtube.com/embed/tXHviS-4ygo"
                          class="btn btn-lg text-danger btn-round btn-white-shadow mb-0"
                          data-glightbox=""
                          data-gallery="video-tour"
                        >
                          <i class="fas fa-play"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- Upload video END -->

                  <!-- Step 2 button -->
                  <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-secondary prev-btn mb-0">
                      Previous
                    </button>
                    <button class="btn btn-primary next-btn mb-0" onclick="uploadCourseMedia(this, {{course.id}})">Next</button>
                  </div>
                </div>
              </div>
              <!-- Step 2 content END -->

              <!-- Step 3 content START -->
              <div
                id="step-3"
                role="tabpanel"
                class="content fade"
                aria-labelledby="steppertrigger3"
              >
                <!-- Title -->
                <h4>Curriculum</h4>

                <hr />
                <!-- Divider -->

                <div class="row">
                  <!-- Add lecture Modal button -->
                  <div
                    class="d-sm-flex justify-content-sm-between align-items-center mb-3"
                  >
                    <h5 class="mb-2 mb-sm-0">Upload Lecture</h5>
                    <a
                      href="#"
                      class="btn btn-sm btn-primary-soft mb-0"
                      data-bs-toggle="modal"
                      data-bs-target="#addLecture"
                      ><i class="bi bi-plus-circle me-2"></i>Add Lecture</a
                    >
                  </div>

                  <!-- Edit lecture START -->
                  <div
                    class="accordion accordion-icon accordion-bg-light"
                    id="lecture-box"
                  >
                  {% for lecture in lectures %}
                    <!-- Item START -->
                    <div class="accordion-item mb-3">
                      <h6 class="accordion-header font-base" id="heading-{{forloop.counter}}">
                        <button
                          class="accordion-button fw-bold rounded d-inline-block collapsed d-block pe-5"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapse-{{forloop.counter}}"
                          aria-expanded="false"
                          aria-controls="collapse-{{forloop.counter}}"
                        >
                          {{lecture.name}}
                        </button>
                      </h6>

                      <div
                        id="collapse-{{forloop.counter}}"
                        class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}"
                        aria-labelledby="heading-{{forloop.counter}}"
                        data-bs-parent="#lecture-box"
                      >
                        <!-- Topic START -->
                        <div class="accordion-body mt-3">
                          <div id="topic-box-{{lecture.id}}">
                            {% for topic in lecture.topics %}
                            <!-- Video item START -->
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="position-relative">
                                <a
                                  href="#"
                                  class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static"
                                  ><i class="fas fa-play"></i
                                ></a>
                                <span class="ms-2 mb-0 h6 fw-light">{{topic.name}}</span>
                              </div>
                              <!-- Edit and cancel button -->
                              <div>
                                <a
                                  href="#"
                                  class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"
                                  ><i class="far fa-fw fa-edit"></i
                                ></a>
                                <button
                                  class="btn btn-sm btn-danger-soft btn-round mb-0"
                                >
                                  <i class="fas fa-fw fa-times"></i>
                                </button>
                              </div>
                            </div>
                            <!-- Divider -->
                            <hr />
                            <!-- Video item END -->
                            {% endfor %}
                          </div>
                          <!-- Add topic -->
                          <a
                            href="javascript:void(0);"
                            onclick="updateTopicPopup({{lecture.id}})"
                            class="btn btn-sm btn-dark mb-0"
                            data-bs-toggle="modal"
                            data-bs-target="#addTopic"
                            >
                            <i class="bi bi-plus-circle me-2"></i>Add topic
                          </a>
                        </div>
                        <!-- Topic END -->
                      </div>
                    </div>
                    <!-- Item END -->
                  {% endfor %}
                  </div>
                  <!-- Edit lecture END -->

                  <!-- Step 3 button -->
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary prev-btn mb-0">
                      Previous
                    </button>
                    <button class="btn btn-primary next-btn mb-0">Next</button>
                  </div>
                </div>
              </div>
              <!-- Step 3 content END -->

              <!-- Step 4 content START -->
              <div
                id="step-4"
                role="tabpanel"
                class="content fade"
                aria-labelledby="steppertrigger4"
              >
                <!-- Title -->
                <h4>Additional information</h4>

                <hr />
                <!-- Divider -->

                <div class="row g-4">
                  <!-- Edit faq START -->
                  <div class="col-12">
                    <div class="bg-light border rounded p-2 p-sm-4">
                      <div
                        class="d-sm-flex justify-content-sm-between align-items-center mb-3"
                      >
                        <h5 class="mb-2 mb-sm-0">Upload FAQs</h5>
                        <a
                          href="#"
                          class="btn btn-sm btn-primary-soft mb-0"
                          data-bs-toggle="modal"
                          data-bs-target="#addQuestion"
                          ><i class="bi bi-plus-circle me-2"></i>Add Question</a
                        >
                      </div>

                      <div class="row g-4" id="course-faq-box">
                        {% for course_faq in course_faqs %}
                        <div class="col-12">
                          <div class="bg-body p-3 p-sm-4 border rounded">
                            <!-- Item 1 -->
                            <div
                              class="d-sm-flex justify-content-sm-between align-items-center mb-2"
                            >
                              <!-- Question -->
                              <h6 class="mb-0">{{course_faq.ques}}</h6>
                              <!-- Button -->
                              <div class="align-middle">
                                <a
                                  href="#"
                                  class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"
                                  ><i class="far fa-fw fa-edit"></i
                                ></a>
                                <button
                                  class="btn btn-sm btn-danger-soft btn-round mb-0"
                                >
                                  <i class="fas fa-fw fa-times"></i>
                                </button>
                              </div>
                            </div>
                            <!-- Content -->
                            <p>{{course_faq.ans}}</p>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!-- Edit faq END -->

                  <!-- Tags START -->
                  <div class="col-12">
                    <div class="bg-light border rounded p-4">
                      <h5 class="mb-0">Tags</h5>
                      <!-- Comment -->
                      <div class="mt-3">
                        <input
                          type="text"
                          class="form-control js-choice mb-0"
                          data-placeholder="true"
                          data-placeholder-Val="Enter tags"
                          data-max-item-count="14"
                          data-remove-item-button="true"
                        />
                        <span class="small"
                          >Maximum of 14 keywords. Keywords should all be in
                          lowercase and separated by commas. e.g. javascript,
                          react, marketing</span
                        >
                      </div>
                    </div>
                  </div>
                  <!-- Tags START -->

                  <!-- Reviewer START -->
                  <div class="col-12">
                    <div class="bg-light border rounded p-4">
                      <h5 class="mb-0">Message to a reviewer</h5>

                      <!-- Comment -->
                      <div class="mt-3">
                        <textarea
                          class="form-control"
                          rows="4"
                          placeholder="Write a message"
                          spellcheck="false"
                        ></textarea>
                        <div class="form-check mb-0 mt-2">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="exampleCheck1"
                          />
                          <label class="form-check-label" for="exampleCheck1">
                            Any images, sounds, or other /static that are not my
                            own work, have been appropriately licensed for use
                            in the file preview or main course. Other than these
                            items, this work is entirely my own and I have full
                            rights to sell it here.
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Reviewer START -->

                  <!-- Step 4 button -->
                  <div
                    class="d-md-flex justify-content-between align-items-start mt-4"
                  >
                    <button class="btn btn-secondary prev-btn mb-2 mb-md-0">
                      Previous
                    </button>
                    <button class="btn btn-light me-auto ms-md-2 mb-2 mb-md-0">
                      Preview Course
                    </button>
                    <div class="text-md-end">
                      <a
                        href="course-added.html"
                        class="btn btn-success mb-2 mb-sm-0"
                        >Submit a Course</a
                      >
                      <p class="mb-0 small mt-1">
                        Once you click "Submit a Course", your course will be
                        uploaded and marked as pending for review.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Step 4 content END -->
          </div>
        </div>
        <!-- Card body END -->
      </div>
    </div>
  </div>
</section>
<!-- =======================
Steps END -->

<!-- Popup modal for add lecture START -->
<div class="modal fade" id="addLecture" tabindex="-1" aria-labelledby="addLectureLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="addLectureLabel">Add Lecture</h5>
        <button id="closeAddLecture" type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <form class="row text-start g-3">
			<!-- Course name -->
			<div class="col-12">
				<label class="form-label">Lecture name <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="lecture_name" placeholder="Enter lecture name">
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success my-0" onclick="uploadLecture(this, '{{course.id}}')">Save Lecture</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup modal for add lecture END -->

<!-- Popup modal for add topic START -->
<div class="modal fade" id="addTopic" tabindex="-1" aria-labelledby="addTopicLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="addTopicLabel">Add topic</h5>
        <button id="closeAddTopic" type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <form class="row text-start g-3">
			<!-- Topic name -->
			<div class="col-md-6">
				<label class="form-label">Topic name</label>
				<input class="form-control" id="topic_name" type="text" placeholder="Enter topic name">
			</div>
			<!-- Video link -->
			<div class="col-md-6">
				<label class="form-label">Video</label>
				<input class="form-control" id="topic_video" type="file" accept="Video/*" />
			</div>
			<!-- Description -->
			<div class="col-12 mt-3">
				<label class="form-label">Topic description</label>
				<textarea class="form-control" rows="4" id="topic_description" placeholder="Topic description" spellcheck="false"></textarea>
			</div>
			<!-- Buttons -->
			<div class="col-6 mt-3">
				<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
					<!-- Free button -->
					<input type="radio" class="btn-check" name="options" id="premium_no" checked="">
					<label class="btn btn-sm btn-light btn-primary-soft-check border-0 m-0" for="premium_no">Free</label>
					<!-- Premium button -->
					<input type="radio" class="btn-check" name="options" id="premium_yes">
					<label class="btn btn-sm btn-light btn-primary-soft-check border-0 m-0" for="premium_yes">Premium</label>
				</div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
        <button type="button" id="saveTopicBtn" class="btn btn-success my-0">Save topic</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup modal for add topic END -->

<!-- Popup modal for add faq START -->
<div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="addQuestionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="addQuestionLabel">Add FAQ</h5>
        <button type="button" class="btn btn-sm btn-light mb-0" id="closeAddFAQ" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <form class="row text-start g-3">
					<!-- Question -->
					<div class="col-12">
						<label class="form-label">Question</label>
						<input class="form-control" type="text" id="course_faq_ques" placeholder="Write a question">
					</div>
					<!-- Answer -->
					<div class="col-12 mt-3">
						<label class="form-label">Answer</label>
						<textarea class="form-control" rows="4" id="course_faq_ans" placeholder="Write a answer" spellcheck="false"></textarea>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success my-0" onclick="uploadCourseFaq(this, '{{course.id}}')">Save FAQ</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup modal for add faq END -->

<script src="/static/js/requests.js"></script>
<script src="/static/js/create-course.js"></script>
<script>
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
  //let value = params.some_key; // "some_value"
  // document.onload = (event) => {
  //   if(params.step == '2') document.getElementById('steppertrigger2').click();
  // };
  if(params.step == '2') {
    setTimeout(()=>{document.getElementById('steppertrigger2').click();}, 500);
  }
  
  
  const submitForm = async(step) => {
    const description = document.getElementById('quilleditor').__quill.root.innerHTML;
    if(description == '') {
      alertify.error("discretion can't be empty");
    }
    document.getElementById('description').value = description;
    document.getElementById('form'+step).submit();
  }
</script>
{% endblock content %}
