<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmation</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .conf-btn {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #066ac9;
        color: #ffffff !important;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1 style="padding: 5px 0">Confirm your Email</h1>
    <p>You received because you have joined mentor with this email address.</p>
    <p style="padding: 10px 0">click below button to confirm your email.</p>
    <a href="{{link}}" class="conf-btn">Confirm Email</a>
  </body>
</html>
