{% extends request.layout %} {% block content %}
<div class="col-xl-9">
  <div class="card bg-transparent border rounded-3">
    <div class="card-header bg-transparent border-bottom">
      <h3 class="mb-0">Post a Answer</h3>
    </div>
    <div class="Card-body">
      <form class="border 0 p-4" method="POST" id="form">
        {% csrf_token %}

        <div class="col-12">
          <label class="form-label">Answer</label>
          <textarea class="form-control mb-2" name="answer" id="answer">
{{ans.text}}</textarea
          >
        </div>
        <div class="d-sm-flex justify-content-end mt-3">
          <button
            type="button"
            class="btn btn-primary mb-0"
            onclick="submitans()"
          >
            Post Answer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script
  src="https://cdn.tiny.cloud/1/mk4hwd62ffubr9yl8ajk2bgpkm9b42m7ltbswjiu7r2fx51s/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script>
  tinymce.init({
    selector: "textarea#answer",
    // content_css: "/static/styles/tinymce-defalut.css",
    height: 345,
    plugins:
      "print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons",
    imagetools_cors_hosts: ["picsum.photos"],
    menubar: "file edit view insert format tools table help",
    toolbar:
      "undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl",
  });
  const submitans = () => {
    tinymce.triggerSave();
    if (document.getElementById("answer").value == "") {
      alert("Please fill some text in answers to Proceed");
      return;
    }
    document.getElementById("form").submit();
  };
</script>
{% endblock content %}
